__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
.DS_Store
Thumbs.db

# Local/private data
data/raw/**
data/intermediate/**
data/processed/**
outputs/**

# Keep folder structure
!data/raw/README.md
!data/raw/**/.gitkeep
!outputs/**/.gitkeep
!outputs/**/README.md

# IDE
.vscode/
.idea/
